<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX playground</title>
  <!-- Include HTMX library -->
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>

<header>
	<a hx-get="./components/main.html" hx-target="#main">Main</a>
	<a hx-get="./components/search.html" hx-target="#main">Search</a>
	<a hx-get="./components/transitions.html" hx-target="#main">HTMX CSS transitions</a>
	<a hx-get="./components/scroll.html" hx-target="#main">Infinite scroll soon</a>
	<a hx-get="./components/headers-sessions.html" hx-target="#main">Headers / Sessions soon</a>
</header>

<div id="main" class="container" hx-get="./components/main.html" hx-trigger="load">
	<!-- load main content -->
</div>

	<script>
		const removePostPreview = () => {
			const element = document.getElementById('swap-container-test');
			console.log(element);
			element.remove();
		}
	</script>

</body>
</html>
