@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&display=swap');

:root {
    --dark: #000a12;
    --blue: #5e6ae4;
    --pink: #a155d0;
    --pink-dimmed: #e4b8ff20;
    --blue2: #636eeb;
    --border-radius: 15px;
    --light: #f9f9f9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: "Lexend Mega", sans-serif;
    line-height: 1.6;
    letter-spacing: -2px;
    font-size: 1rem;
}

a, a:visited {
    color: var(--pink);
    text-decoration: none;
}

a {
    transition: all 0.3s ease-in-out;
    margin-right: 25px;
    font-weight: 900;
}

a:hover {
    color: var(--light);
    cursor: pointer;
}

header {
    position: relative;
    height: 50px;
    padding: 0px 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

header::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    background-color: var(--blue2);
    height: 5px;
}

.container {
    padding: 0px 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
    row-gap: 50px;
}

.container > div {
    padding: 25px 25px;
    flex-basis: 48%;
    border-radius: var(--border-radius);
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--light);
}

input,
select {
    border: 2px solid var(--blue);
    background-color: var(--pink-dimmed);
    color: var(--pink);
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

input:focus,
select:focus {
    outline: none;
    border: 2px solid var(--pink);
}

button {
    background-image: linear-gradient(45deg, var(--blue), var(--pink));
    border: none;
    color: var(--light);
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-image: none;
    background-color: var(--pink);
}

button[type="submit"] {
    margin-top: 1rem;
}

.side-note {
    background-color: var(--pink-dimmed);
    color: var(--blue);
    padding: 7px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .8rem;
}

.warning-note {
    background-color: #ff000020;
    padding: 7px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .8rem;
}

.toast-note {
    background-color: #00ff0020;
    padding: 7px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 50px;
    font-size: .8rem;
    width: 500px;
}

.wrapper {
    border-radius: 20px;
    box-shadow:  2px 2px 60px -12px #636eeb;
    isolation: isolate;
    padding: 50px;
    position: relative;

}

.wrapper::before {
    background: linear-gradient(45deg, #5e6ae4 , #a155d0 );
    inset: -5px;
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 20px;
}

.wrapper::after {
    background: #000a12;
    z-index: -1;
    border-radius: 15px;
    content: "";
    inset: 0;
    position: absolute;
}

.gradient-text {
    background: linear-gradient(45deg, #5e6ae4 , #a155d0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.gradient-text-sm {
    background: linear-gradient(45deg, #5e6ae4 , #a155d0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
}