    <!-- form container -->
    <div class="form-container wrapper">
        <h1 id="post-title" class="gradient-text">HTMX powered.</h1>
        
        <button hx-get="/components/modal.html" hx-target="body" hx-swap="beforeend">Modal test</button>
        
        <form hx-post="http://localhost:8001/create" hx-target="#item-container" hx-swap="outerHTML">

            <label class="gradient-text-sm" for="name">Title:</label>
            <input type="text" id="name" name="name" required autocomplete="off">

            <label class="gradient-text-sm" for="description">Description:</label>
            <input type="text" id="description" name="description" required autocomplete="off">

            <label class="gradient-text-sm" for="tags">Tags / Misc:</label>
            <input type="text" id="tags" name="tags" required autocomplete="off">

            <button type="submit">Add post</button>
        </form>
    </div>
    <!-- post container -->
    <div class="wrapper">
        <h3 class="gradient-text-sm">Post preview will show here.</h3>
        <p class="warning-note">I added an element.remove() for each post because HTMX doesn't have an implementation for removing elements from the DOM.</p>   
        <p class="warning-note">At least until I implement a delete route.</p>   
        <div id="item-container" class="item-container">
            <!-- place to return the post from the db -->
        </div>
    </div>

    <!-- search container -->
    <div class="search-container wrapper" hx-get="/components/search.html" hx-trigger="load" hx-swap="outerHTML">
        <!-- load search component -->
    </div>

    <div id="preview-container" class="wrapper"><h3 class="gradient-text-sm">Container to open /posts/:id with HTMX</h3></div>
    <!-- get all items container -->
    <div class="wrapper">
        <button hx-get="http://localhost:8001/posts" hx-target="#items-container">View all posts in DB.</button>
        <div id="items-container" class="items-container">
            <p class="warning-note">Moving errors from block to block. It's just web development.</p>
            <p class="warning-note">So I remade the db response to send html.</p>
            <p class="warning-note">Ok, I made a separate /search route for searching and I can keep returning my million dollar renderHTML.js here.</p>
            <p class="warning-note">Would be interesting to add an auto polling for search results after the input.</p>
        </div>
    </div>

    <div class="wrapper">Container</div>