<!-- form container -->
<div class="form-container wrapper">
    <h1 id="post-title" class="gradient-text">HTMX powered.</h1>

    <form hx-post="http://localhost:8001/create" hx-target="#item-container" hx-swap="outerHTML">

        <label class="gradient-text-sm" for="name">Title:</label>
        <input type="text" id="name" name="name" required autocomplete="off">

        <label class="gradient-text-sm" for="description">Description:</label>
        <input type="text" id="description" name="description" required autocomplete="off">

        <label class="gradient-text-sm" for="tags">Tags / Misc:</label>
        <input type="text" id="tags" name="tags" required autocomplete="off">

        <button type="submit">Add post</button>
    </form>
</div>
<!-- post container -->
<div class="wrapper">
    <h3 class="gradient-text-sm">Post preview will show here.</h3>
    <p class="warning-note">I added an element.remove() for each post because HTMX doesn't have an implementation for removing elements from the DOM.</p>   
    <div id="item-container" class="item-container">
        <!-- place to return the post from the db -->
    </div>
</div>

<!-- search container -->
<div class="search-container wrapper">
    <h3 class="gradient-text-sm">Search bar in progress.</h3>
    <input name="query" hx-get="http://localhost:8000/posts/" type="text" hx-trigger="input changed delay:500ms, query" hx-target="#search-results" hx-ext="debug" />
    <p class="side-note">hx-trigger="input changed delay:500ms, query" -- this sends a /posts/?query="whatever" to the server on change</p>
    <p class="warning-note">Implementing a search function that goes through multiple servers is harder than this demo deserves so I opted for opening CORS between frontend and the db for now. I have enough gray hair as is and mongodb regex queries do not help.
    </p>
    <p class="warning-note">
        I also spent an hour asking for the developer replacement AI tools for an implementation, and guess what? Turns out generating random text doesn't solve all the issues just yet.
    </p>
    <div id="search-results">Search results JSON container:</div>
</div>
<!-- <div class="wrapper" style="max-height: 250px;overflow:auto"> -->
<div id="preview-container" class="wrapper">open /posts/:id with HTMX</div>
<!-- get all items container -->
<div class="wrapper">
    <button hx-get="http://localhost:8001/posts" hx-target="#items-container">View all posts in DB.</button>
    <div id="items-container" class="items-container">
        <p class="warning-note">Moving errors from block to block. It's just web development. 💖 </p>
        <p class="warning-note">So I remade the db response to send html, however the server needs JSON. 🥲</p>
    </div>
</div>

<div class="wrapper">asd
</div>
<div class="wrapper">a modal would be nice</div>
<div class="wrapper">and a dropdown</div>
<!-- <div class="wrapper">for</div>
<div class="wrapper">later</div> -->