<div class="search-container wrapper">
    <h3 class="gradient-text-sm">Search bar.</h3>
    <input name="query" hx-get="http://localhost:8000/search/" type="text" hx-trigger="input changed delay:500ms, query" hx-target="#search-results" hx-ext="debug" />
    <div id="search-results" class="search-results"><span>Search results container.</span></div>
    <p class="side-note">hx-trigger="input changed delay:500ms, query" -- this sends a /posts/?query="whatever" to the server on change</p>
    <p class="warning-note">Implementing a search function that goes through multiple servers is harder than this demo deserves so I opted for opening CORS between frontend and the db for now.
    </p>
</div>
